/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Adjust as needed */
}

/* Navbar Styles */
.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

/* Vehicle Container */
.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.vehicle-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 10px;
}

.vehicle-image {
  flex: 1;
  max-width: 200px;
  border-right: 1px solid #ddd;
}

.vehicle-image img {
  width: 100%;
  height: auto;
  border-radius: 5px 0 0 5px;
}

.vehicle-details {
  flex: 2;
  padding: 20px;
}

.vehicle-details table {
  width: 100%;
  border-collapse: collapse;
}

.vehicle-details table td {
  padding: 10px;
  vertical-align: top;
}

.vehicle-details table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.vehicle-details table strong {
  color: #333;
}

.vehicle-details table td {
  color: #666;
}
